/**  Header Styling */

header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/HBNBlogo.png");
    background-repeat: no-repeat;
}
